#ifndef SECRETS_H
#define SECRETS_H

// WiFi Credentials
const char* WIFI_SSID = "ssid_placeholder";
const char* WIFI_PASS = "password_placeholder";

// Azure Credentials
const char* MQTT_SERVER = "mqtt_azure_server_placeholder";
const char* DEVICE_ID = "device_id_placeholder";

// Valid for 1 year
const char* SAS_TOKEN = "SAS_placeholder";

#endif